<div class="garage-container flex flex-column flex-wrap gap-5 mt-5">
  <main>
    <div class="race flex flex-column gap-5">
      <div class="race-btn flex justify-content-center gap-3">
        <p-button
          label="Add a car"
          [text]="true"
          [raised]="true"
          (click)="openAddCar()"
        ></p-button>
        <p-button label="Modify a car" [text]="true" [raised]="true"></p-button>
        <p-button label="Delete a car" [text]="true" [raised]="true"></p-button>
        <p-button
          label="Generate 10 cars"
          [text]="true"
          [raised]="true"
        ></p-button>
      </div>
      <app-car-list></app-car-list>
      <div class="pagination flex justify-content-center gap-3">
        <p-button label="Previous" [text]="true" [raised]="true"></p-button>
        <p-button label="Next" [text]="true" [raised]="true"></p-button>
      </div>
    </div>
  </main>
  <footer class="flex flex-row flex-wrap gap-5 ml-auto">
    <p>Developer</p>
    <p>RS School</p>
  </footer>
</div>
