<div class="garage-container flex flex-column flex-wrap gap-5">
  <nav class="flex gap-5 ml-auto">
    Change theme
    <a routerLink="/about">About</a>
  </nav>
  <div class="grid justify-content-between">
    <div class="logo col-3">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A omnis nostrum
        corrupti nam distinctio, dignissimos sed neque maxime veniam ut
        doloribus blanditiis quis mollitia nisi ipsam aliquam alias eligendi,
        voluptatum aperiam autem nemo illum! Ratione, earum voluptas minima eum
        sed, quae, quasi vel sit voluptatum repellat a praesentium quibusdam
        esse.
      </p>
    </div>
    <header class="header col-6">
      <div class="flex flex-column align-items-center gap-5">
        <div class="header-btn flex justify-content-center gap-5">
          <p-button label="Garage" [text]="true" [raised]="true"></p-button>
          <p-button label="Winners" [text]="true" [raised]="true"></p-button>
        </div>
        <p>There are 4 cars in your garage</p>
        <p>You are on the 1 page</p>
      </div>
    </header>
    <div class="garage-btn col-3">
      <div class="flex flex-column align-items-end gap-3">
        <p-button label="Add a car" [text]="true" [raised]="true"></p-button>
        <p-button label="Update a car" [text]="true" [raised]="true"></p-button>
        <p-button label="Delete a car" [text]="true" [raised]="true"></p-button>
        <p-button
          label="Generate 10 cars"
          [text]="true"
          [raised]="true"
        ></p-button>
      </div>
    </div>
  </div>
  <main>
    <div class="race flex flex-column gap-5">
      <div class="race-btn flex justify-content-center gap-3">
        <p-button label="Start race" [text]="true" [raised]="true"></p-button>
        <p-button label="Pause race" [text]="true" [raised]="true"></p-button>
        <p-button label="Reset race" [text]="true" [raised]="true"></p-button>
      </div>
      <app-car-list></app-car-list>
      <div class="pagination flex justify-content-center gap-3">
        <p-button label="Previous" [text]="true" [raised]="true"></p-button>
        <p-button label="Next" [text]="true" [raised]="true"></p-button>
      </div>
    </div>
  </main>
  <footer class="flex flex-row flex-wrap gap-5 ml-auto">
    <p>Developer</p>
    <p>RS School</p>
  </footer>
</div>
