<div class="race-container">
  <div class="race flex flex-column gap-5">
    <div class="race-btn flex justify-content-center gap-3">
      <p-button label="Start race" [text]="true" [raised]="true"></p-button>
      <p-button label="Pause race" [text]="true" [raised]="true"></p-button>
      <p-button label="Reset race" [text]="true" [raised]="true"></p-button>
    </div>
    <app-car-list></app-car-list>
    <div class="pagination flex justify-content-center gap-3">
      <p-button label="Previous" [text]="true" [raised]="true"></p-button>
      <p-button label="Next" [text]="true" [raised]="true"></p-button>
    </div>
  </div>
</div>
